.App {
  text-align: center;
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Nav {
  display: flex;
  justify-content: flex-end; /* Align items to the left */
  padding: 1rem 2rem;
  background: #111111;
}

.Nav ul {
  display: flex;
  list-style: none;
}

.Nav li {
  padding-left: 1rem;
}

.Nav li a {
  text-decoration: none;
  color: #ffffff;
}

.Nav li a:hover {
  color: yellow; /* Change color on hover */
}
