.App {
  text-align: center;
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navigation Content */
.Nav {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background: #181818;
}

.Nav ul {
  display: flex;
  list-style: none;
}

.Nav li {
  padding-left: 1rem;
}

.Nav li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 1s ease;
}

.Nav li a:hover {
  color: #00ffaa;
}
.NavIcon {
  font-size: 25px;
  padding-left: 20px;
}

/* Maincontent */
.MainContent {
  text-align: center;
  height: 100vh;
}
/* Maincontent Elements */
/* shapes */
.triangle-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 50px solid #ffee00;
  position: absolute;
  top: 500px;
  left: 650px;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #ff6600;
  border-radius: 50%;
  position: absolute;
  top: 160px;
  left: 1000px;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #8400ff;
  position: absolute;
  top: 200px;
  left: 200px;
}

.squareNoIn {
  height: 70px;
  width: 70px;
  border: solid 2px #fffb00;
  position: absolute;
  top: 720px;
  left: 1080px;
}
.circleNoIn {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: solid 2px #fffb00;
  position: absolute;
  top: 980px;
  left: 180px;
}
/* Profile Content */
.Card.Profile {
  display: inline-block;
  width: 800px;
  height: 400px;
  padding: 50px;
  margin-top: 80px;
  background-color: rgba(59, 59, 59, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.imageSection {
  margin-left: 20px;
  width: 50%;
  height: 100%;
  float: right;
  background-image: url(./images/Formal_Picture.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.infoSection {
  width: 50%;
  height: 100%;
  float: left;
}

.infoName,
.infoTitle,
.infoProgLang,
.infoDescription {
  text-align: left;
}
.infoName p {
  width: 40vw;
  font-size: x-large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff6600;
}
.infoProgLangIcon {
  font-size: 20px;
  margin-right: 20px;
}
/* Project Content */
.projectContent {
  display: inline-block;
  width: 800px;
  height: 400px;
  padding: 50px;
  margin-top: 80px;
  background-color: rgba(59, 59, 59, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.prjtNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  height: 100%;
  background-color: #272626;
  border-radius: 50px;
  float: right;
}

.prjtNav p {
  margin: 0;
  font-size: 20px;
}
.prjtNav .prNavbtntop {
  padding-top: 50px;
}
.prjtNav .prNavbtnbtm {
  padding-bottom: 50px;
}
.prBtnUP,
.prBtnDN {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.prBtnUP .prNavbtntop,
.prBtnDN .prNavbtnbtm {
  font-size: 25px;
  color: #ffffff;
  transition: color 1s ease;
}
.prBtnUP:hover .prNavbtntop,
.prBtnDN:hover .prNavbtnbtm {
  color: #ffee00;
}
.prjtDescrptn {
  width: 320px;
  height: 100%;
  float: right;
}

.DescrptnTitle,
.DescrptnContent {
  text-align: left;
}
.infoDescription p {
  text-indent: 50px;
  width: 25vw;
  text-align: justify;
}

.projectImg {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #202020;
  background-position: center;
  border-radius: 10px;
  transition: 1s ease;
}
/* Contact Info Content */
.Contact_info_Content {
  display: inline-block;
  width: 800px;
  height: 400px;
  padding: 50px;
  margin-top: 80px;
  background-color: rgba(59, 59, 59, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding-top: 10px;
}
.ContactText {
  font-size: 25px;
  font-weight: bolder;
  font-stretch: extra-expanded;
  letter-spacing: 4px;
}
.ContactContent {
  display: inline-block;
  width: 800px;
  height: 400px;
  margin-top: 10px;
  /* background-color: rgb(255, 187, 0); */
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.EmailContent {
  /* background-color: palevioletred; */
  height: 100%;
  width: 400px;
  float: left;
  border-radius: 10px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.LocationContent {
  background-color: rgb(60, 255, 0);
  height: 50%;
  width: 400px;
  float: right;
  border-top-right-radius: 10px;
}
.SocialContent {
  background-color: rgb(111, 0, 255);
  height: 50%;
  width: 400px;
  float: right;
  border-bottom-right-radius: 10px;
}
form {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.EmailLabel {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 5px;
  font-size: large;
  margin-top: 5px;
  letter-spacing: 1px;
}
input[type="text"],
textarea {
  width: calc(100% - 10px);
  padding: 10px;
  border-radius: 5px;
  border: 0px solid #ccc;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: white;
}
textarea {
  height: 150px;
}
button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
  width: 200px;
}
/* FOOTER */
.infofooter {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: rgb(19, 19, 19);
  margin-top: 10vh;
  text-align: center;
}
.infofooter p {
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1vw;
}
